.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.input {
  width: 80%;
  height: 30px;
}

.inputTitle {
  margin: 10px 0;
  font-size: 1.2rem;
}

.amount {
  width: 12px;
  height: 12px;
  margin: 5px 0;
  cursor: pointer;
}